footer.footer
  .wrapper
    .footer__container
      .footer__brand
        span.font-s-20 Фоксгард
        span.font-s-16.color-white Франшиза аутсорсинговой <br> компании
      img.footer__logo(src="images/logo.svg" loading="lazy" width="164" height="106" alt="logo")
      a.footer__privacy.font-s-16(href="#" data-remodal-target="privacy").agree-privacy Политика конфиденциальности
      .footer__connection
        a(href="tel:88007004721")
          img.footer__connection-icon(src="images/connection-icon.svg" loading="lazy" width="33" height="33" alt="icon")
        include ../components/phone-number.pug
