section.steps-section
  .wrapper
    .steps-section__container
      h2.steps-section__title.font-s-40-a.text-up
        | Главные этапы запуска вашей 
        br.no-br
        | компании по франшизе
      .swiper-bullet
        .steps-section__cards.swiper-wrapper
          .steps-section__card.swiper-slide
            span.steps-section__card-num.font-w-bold.font-s-36 01
            span.font-s-18
              | Заключение договора франшизы
          .steps-section__card.swiper-slide.steps-card-order-3
            span.steps-section__card-num.font-w-bold.font-s-36 02
            span.font-s-18
              | Согласование дизайн-проекта сайта и
              br
              | соцсетей
          .steps-section__card.swiper-slide.steps-card-order-5
            span.steps-section__card-num.font-w-bold.font-s-36 03
            span.font-s-18
              | Поиск персонала
          .steps-section__card.swiper-slide.steps-card-order-7
            span.steps-section__card-num.font-w-bold.font-s-36 04
            span.font-s-18
              | Доставка брендового материала: 
              br
              | флаеры, визитки, блокноты и тд;
          .steps-section__card.swiper-slide.steps-card-order-2
            span.steps-section__card-num.font-w-bold.font-s-36 05
            span.font-s-18
              | Формирование первичных локально-
              br
              | нормативных актов, внедрение системы 
              br
              | управления
          .steps-section__card.swiper-slide.steps-card-order-4
            span.steps-section__card-num.font-w-bold.font-s-36 06
            span.font-s-18
              | Запуск рекламных 
              br
              | кампаний
          .steps-section__card.swiper-slide.steps-card-order-6
            span.steps-section__card-num.font-w-bold.font-s-36 07
            span.font-s-18
              | Обучение персонала
          .steps-section__card.swiper-slide.steps-card-order-8
            span.steps-section__card-num.font-w-bold.font-s-36 08
            span.font-s-18
              | Официальное открытие
        .bullet-pagination
      .steps-section__bottom-text.font-s-32
        | Работаем строго по договору, в котором прописаны наши 
        br.no-br
        | обязанности и все условия сотрудничества
      .steps-section__btn-wrapper
        button.btn.btn--stroke.steps-section__btn(data-remodal-target="modal-form-agreement") СКАЧАТЬ
      img.steps-section__img(src="images/steps-section-img.png" loading="lazy" width="1118" height="917" alt="image")
