section.support-section
  .wrapper
    .support-section__container
      h2.support-section__title.font-s-42.text-up Как мы помогаем нашим клиентам
      .swiper-bullet
        .support-section__cards.swiper-wrapper
          .support-section__card.swiper-slide
            span.support-section__card-num.font-w-bold.font-s-24-a 01
            span.font-s-20-b
              | Проводим аудит по охране труда, 
              br
              | пожарной и экологической 
              br
              | безопасности
          .support-section__card.swiper-slide
            span.support-section__card-num.font-w-bold.font-s-24-a 02
            span.font-s-20-b
              | Берем на себя обязательства в 
              br
              | области охраны труда, пожарной и 
              br
              | экологической безопасности 
              br
              | (аутсорсинг)
          .support-section__card.swiper-slide
            span.support-section__card-num.font-w-bold.font-s-24-a 03
            span.font-s-20-b
              | Сопровождаем и готовим к 
              br
              | проверкам ГИТ, МЧС, помогаем 
              br
              | устранить замечания 
              br
              | инспектирующих органов
          .support-section__card.swiper-slide
            span.support-section__card-num.font-w-bold.font-s-24-a 04
            span.font-s-20-b
              | Разрабатываем документацию к 
              br
              | тендерным закупкам (в части 
              br
              | охраны труда, пожарной 
              br
              | безопасности и экологии)
          .support-section__card.support-section__card--secondary.swiper-slide
            img.support-section__card-icon(src="images/support-section-card-icon.png" loading="lazy" width="536" height="193" alt="icon")
            span.support-section__card-num.font-w-bold.font-s-24-a 05
            span.font-s-20-b
              | Разрабатываем полный пакет документов, организовываем и проводим 
              br.no-br
              | спецоценку, внедряем системы профрисков, СИЗ, 5s и СУОТ
        .bullet-pagination
