.footer
  background-color: #000

  &__container
    display: flex
    align-items: center
    flex-direction: column
    gap: 10px
    padding 10px 0
    +above($breakpoints.sm)
      flex-direction: row
      justify-content space-between
      padding 20px 0
    +above($breakpoints.md)
      padding 30px 0
    +above($breakpoints.xxl)
      padding 45px 0 51px

  &__brand
    display: none
    +above($breakpoints.sm)
      color: #00983C
      display: flex
      flex-direction: column

  &__logo
    width 100px
    height: 65px
    +above($breakpoints.sm)
      display: none

  &__privacy
    cursor pointer
    text-decoration: underline
    color: #848484

  &__connection
    display: flex
    align-items: flex-end
    justify-content flex-end
    gap: 5px
    +above($breakpoints.sm)
      align-items: center
      margin-top 3px
      gap: 6px;
    +above($breakpoints.md)
      margin-top 4px
      gap: 7px;
    +above($breakpoints.xxl)
      margin-top 5px
      gap: 8px

  &__connection-icon
    width 18px
    height: 18px
    +above($breakpoints.sm)
      width 23px
      height: 23px
    +above($breakpoints.md)
      width 28px
      height: 28px
    +above($breakpoints.xxl)
      width 33px
      height: 33px
